.navbar-container {
  padding: 10px;

  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5px;
    height: 50px;
    li {
      padding: 5px;
      font-size: 1.5rem;
      font-family: $font-primary;

      &:hover {
        border-bottom: solid 2px black;
      }
    }
  }
}

.logo {
  font-family: $logo-font;
  letter-spacing: 1px;
  color: black;
  font-size: 4rem;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 3.5rem;
  }
  .navbar-container {
    padding: 10px;

    ul {
      li {
        font-size: 1.3rem;
      }
    }
  }
}
