.navbar-container {
  padding: 10px;

  ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5px;
    height: 50px;
    li {
      padding: 0px 0px 5px 0px;
      font-size: 1rem;
      font-family: $font-primary;
      text-transform: uppercase;

      &:hover {
        border-bottom: solid 2px black;
      }
    }
  }
}

.logo {
  font-family: $logo-font;
  letter-spacing: 1px;
  color: black;
  font-size: 4rem;
  cursor: pointer;
}

.navbar-submenu-selected {
  border-bottom: solid 2px black;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 2.8rem;
  }
  .navbar-container {
    padding: 10px;
    padding-bottom: 0px;

    ul {
      li {
        font-size: 1.1rem;
        margin-bottom: 10px;
      }
    }
  }
}
